<!DOCTYPE html>
<!--
 * @author ${Manoj Reddy}
 *
 -->
<html>
<head>
<title>Dogs Details....</title>
</head>
 
<body >
 

 
 
 
 
<div >
 <!-- retrieving HTML String from the child Views -->
{{{body}}}
</div>
 
 
 
</body>
</html>